Project from Datacamp.

Here is the code I used in Datacamp platform (returned as correct). Here are the instructions: 

1. Which NYC schools have the best math results?
    - The best math results are at least 80% of the *maximum possible score of 800* for math.
    - Save your results in a pandas DataFrame called best_math_schools, including "school_name" and "average_math" columns, sorted by "average_math" in descending order.
  
2. What are the top 10 performing schools based on the combined SAT scores?
    - Save your results as a pandas DataFrame called top_10_schools containing the "school_name" and a new column named "total_SAT", with results ordered by "total_SAT" in descending order ("total_SAT" being the sum of math, reading, and writing scores).

3. Which single borough has the largest standard deviation in the combined SAT score?
- Save your results as a pandas DataFrame called largest_std_dev.
- The DataFrame should contain one row, with:
    - "borough" - the name of the NYC borough with the largest standard deviation of "total_SAT".
    - "num_schools" - the number of schools in the borough.
    - "average_SAT" - the mean of "total_SAT".
    - "std_SAT" - the standard deviation of "total_SAT".
- Round all numeric values to two decimal places.

In [1]:
# Importing pandas
import pandas as pd

# Read in the data
schools = pd.read_csv("/Users/ORIANAGRANDE/Documents/Documents - MacBook Air/Portfolio/Data/02_NYC_public_school_SAT..csv")

# Preview the data
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

1. Which NYC schools have the best math results?
   - The best math results are at least 80% of the **maximum possible score of 800** for math.
   - Save your results in a **pandas DataFrame called best_math_schools**, including **"school_name" and "average_math" columns**, **sorted by "average_math" in descending** order.

In [2]:
# Subsetting "school_name" and "average_math" columns and sorting by average_math descending order.
schools_math_srt = schools[["school_name", "average_math"]].sort_values("average_math", ascending = False)
best_math_schools = schools_math_srt[schools_math_srt["average_math"] > 800*0.8]
best_math_schools.head()

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683

2. What are the top 10 performing schools based on the combined SAT scores?
   - Save your results as a **pandas DataFrame called top_10_schools** containing the **"school_name"** and a **new column named "total_SAT"**, with **results ordered by "total_SAT" in descending** order ("total_SAT" being the sum of math, reading, and writing scores).

In [3]:
# Creating a new column "total_SAT"
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]

# Subsetting for "school_name" and "total_SAT" and sorting by "total_SAT" descending order
top_10_schools_all = schools[["school_name", "total_SAT"]].sort_values("total_SAT", ascending = False)

# Keeping only the first 10 rows
top_10_schools = top_10_schools_all[:10]
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

3. Which single borough has the largest standard deviation in the combined SAT score?
   - Save your results as a **pandas DataFrame called largest_std_dev.**
   - The DataFrame should **contain one row**, with:
       - "borough" - the name of the NYC borough with the largest standard deviation of "total_SAT".
       - "num_schools" - the number of schools in the borough.
       - "average_SAT" - the mean of "total_SAT".
       - "std_SAT" - the standard deviation of "total_SAT".
   - **Round** all numeric values to **two decimal** places.

In [5]:
# Grouping data by borough and creating the new columns as aggregating functions
schools_grouped_by_borough = schools.groupby("borough")["total_SAT"].agg(
    num_schools = "count",
    average_SAT = "mean",
    std_SAT = "std"
).reset_index()

#Â Sorting the dataframe to have the largest std_SAT on top (descending order)
schools_grouped_by_borough = schools_grouped_by_borough.sort_values("std_SAT", ascending = False)

# Round all values to two decimal (.round() ?)
schools_grouped_by_borough = schools_grouped_by_borough.round(2)


# Keep the first row
largest_std_dev = schools_grouped_by_borough[:1]
print(largest_std_dev)

     borough  num_schools  average_SAT  std_SAT
2  Manhattan           89      1340.13   230.29